memorysetup-main-allocator-block-size=8388608
memorysetup-thread-allocator-block-size=8388608
memorysetup-gfx-main-allocator-block-size=8388608
memorysetup-gfx-thread-allocator-block-size=8388608
memorysetup-profiler-allocator-block-size=8388608
memorysetup-bucket-allocator-granularity=256
memorysetup-bucket-allocator-bucket-count=8
memorysetup-bucket-allocator-block-size=8388608
memorysetup-bucket-allocator-block-count=8
memorysetup-profiler-bucket-allocator-block-size=33554432
memorysetup-temp-allocator-size-main=8388608
memorysetup-temp-allocator-size-job-worker=262144
memorysetup-temp-allocator-size-preload-manager=8388608
